@model AspNetBlog.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post_Id" />
            <div class="form-group">
                <label asp-for="Post_Title" class="control-label"></label>
                <input asp-for="Post_Title" class="form-control" />
                <span asp-validation-for="Post_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post_Content" class="control-label"></label>
                <input asp-for="Post_Content" class="form-control" />
                <span asp-validation-for="Post_Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post_Description" class="control-label"></label>
                <input asp-for="Post_Description" class="form-control" />
                <span asp-validation-for="Post_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_ById" class="control-label"></label>
                <select asp-for="Created_ById" class="form-control" asp-items="ViewBag.Created_ById"></select>
                <span asp-validation-for="Created_ById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated_ById" class="control-label"></label>
                <select asp-for="Updated_ById" class="form-control" asp-items="ViewBag.Updated_ById"></select>
                <span asp-validation-for="Updated_ById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

