@model AspNetBlog.Models.Post_User_Comments

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Post_User_Comments" class="mb-6">
            <div class="py-2 px-4 mb-4 rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <label asp-for="Comment" class="sr-only">Your comment</label>
                <textarea asp-for="Comment" id="comment" rows="6"
                    class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                    placeholder="Write a comment..." required></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
                @Html.HiddenFor(model => model.Post.Post_Id)
            </div>
            <button type="submit"
                class="btn btn-primary">Post comment
            </button>
        </form>
    </div>
</div>

