@model AspNetBlog.Models.Post_User_Comments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post_User_Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment_Id" />
            <div class="form-group">
                <label asp-for="Post_Id" class="control-label"></label>
                <select asp-for="Post_Id" class="form-control" asp-items="ViewBag.Post_Id"></select>
                <span asp-validation-for="Post_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Id" class="control-label"></label>
                <select asp-for="User_Id" class="form-control" asp-items="ViewBag.User_Id"></select>
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent_Comment" class="control-label"></label>
                <select asp-for="Parent_Comment" class="form-control" asp-items="ViewBag.Parent_Comment"></select>
                <span asp-validation-for="Parent_Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

