@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "_Layout.cshtml";
    }
}


<div>
    <hr />
    <div class="flex">
        <div class="w-1/4">
            <partial name="_ManageNav" />
        </div>
        <div class="w-3/4">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
