@{
    ViewData["Title"] = "Home Page";
}

    <div class="hero overflow-hidden" style="background-image: url(https://iso.500px.com/wp-content/uploads/2014/07/big-one.jpg); width: 100%;">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content min-h-screen">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Welcome to the Globe Explorers</h1>
                <a class="btn glass" asp-area="" asp-controller="Posts" asp-action="Index">Let's Travel!</a>
            </div>
        </div>
    </div>


